@import "~bootstrap4-card-tables/src/bootstrap4-card-tables";


@media (max-width: 800px) {
    .facet_sidebar {
      display: none;
    }
  }

  @font-face {
    font-family: "Helvetica"; src: url("//db.onlinewebfonts.com/t/3f610a59a3c8a0229084ea3e1312738c.eot");
     src: url("/fonts/Helvetica-Black-Oblique.ttf") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3f610a59a3c8a0229084ea3e1312738c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3f610a59a3c8a0229084ea3e1312738c.woff") format("woff"), url("//db.onlinewebfonts.com/t/3f610a59a3c8a0229084ea3e1312738c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3f610a59a3c8a0229084ea3e1312738c.svg#Helvetica") format("svg");
}

 @import url(//db.onlinewebfonts.com/c/c03f80ccf879e6f840ca56279854945e?family=Helvetica+Neue);

   
h1 {
  font-family: "Helvetica";
  margin-left: 10%;
}


 
.table-responsive {
  width: 50%;
}
.card td{
  
  text-align: center;
  width: 800px;
}
  

  .tabla1 th {
    text-align: center;
    background-color: rgb(71, 80, 255);
    color: white;
    width: 800px;
  }

 

  .tabla2 th{
    text-align: center;
    background-color: rgb(71, 80, 255);
    color: white;
    width: 800px;  }


  

  .tabla3 th {
    text-align: center;
    background-color: rgb(71, 80, 255);
    color: white;
    width: 800px;
  }
  button {
    margin-left: 7%;
    background-color:  rgb(71, 80, 255);
    color: white;
    height: 45px;
    width: 130px;
    font-size: 25px;
    font-family: Calibri;
    font-weight: 800;
    border: hidden white;
    border-radius: 10px ;
    transition: .25s ease-in-out;

  }

  button:hover {
    transform: scale(1.1);
  }

  .btn-success {
    display: inline-block;
    text-align: left;
    margin-left: 1cm;
  }

  .eliminar{
    background-color: red;
    font-family: Calibri;
    margin-left: 5%;
    color: white;
    height: 45px;
    width: 130px;
    font-size: 25px;
  }

  .volver img {
    margin-bottom: 1.5%;
    margin-right: 7%;
    border-radius: 45px;
    width: 50px;
  }


  .form-popup {
    visibility: hidden;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    
  }

  .form-popup:target {
    visibility: visible;
   opacity: 1;
    
  }
  
 

  .popup-container{
    margin-top: 5cm;
    width: 500px;
    margin-left: 10cm;
    margin-bottom: 5cm;
    padding: 10px;
    position: relative;
    background-color: white;
    box-shadow: 25px darkslategray;
    
  }

  .popup-container:focus {
    background-color: white;
    outline: none;
  }

